[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pep8 = "*"
autopep8 = "*"

[packages]
flask = "*"
pandas = "*"
flatten-json = "*"
flask-pymongo = "*"
flask-restful = "*"
flask-cors = "*"
numpy = "*"
requests = "*"
redis = "*"
flask-apscheduler = "*"
responses = "*"

[requires]
python_version = "3.7"
